<strong>Hello, {{ provider }}</strong>
<p>One of your appointments was canceled, check out the details follow:</p>
<p>
  <strong>Client: </strong> {{ user }} <br />
  <strong>Date/time: </strong> {{ date }} <br />
  <br />
  <small>
    This time is again available for scheduling
  </small>
</p>
